.hide{
	display: none;
}

.pagination>li.sleep>a span{
	opacity: 0.8;
	color: #000;
}

.fcb-wrap, .frb-wrap{
    display: inline-block;
    margin-bottom: 5px;
	input{
        &:checked + label{
            background-position: 0 -20px;
        }
	}
	label{
	    margin-bottom: 0;
        padding-left: 22px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 15px;
        vertical-align: middle;
        cursor: pointer;
	}
}
.fcb-wrap label{
    background-image: url('img/web-two-style.png');
}
.frb-wrap label{
    background-image: url('img/fake-radio.png');
}
